*,*::before,*::after {
  box-sizing: border-box;
}

* {
  outline: 0 !important;
}

html {
  overflow-x: hidden;
}
ul,ol {
  padding: 0;
}
body,h1,h2,h3,h4,p,ul,ol,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul, ol {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}

.header-style {
  background: #060606;
}

.header-search {
  display: block;
  width: 100%;
  padding: 0% 78% 0% 1%;
  font-size: 14px;
  color: #454545;
  background-color: #060606;
  background-clip: padding-box;
  border: 1px solid #060606;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-overflow: ellipsis;
}

.button-header-search {
  display: inline-block;
    font-size: 14px;
    color: #eaeaea;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
}

.header-icon {
  font-size: 11px;
  color: #eaeaea;
}