*,*::before,*::after {
  box-sizing: border-box;
}

* {
  outline: 0 !important;
}

html {
  overflow-x: hidden;
}
ul,ol {
  padding: 0;
}
body,h1,h2,h3,h4,p,ul,ol,li,figure,figcaption,blockquote,dl,dd {
  margin: 0;
}
body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul, ol {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
font: inherit;
}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

}

@font-face {
	font-family: 'BebasNeueBold'; 
	src: url(../fonts/bebas-neue-bold.ttf); 
}

@font-face {
	font-family: 'PTSans'; 
	src: url(../fonts/pt-sans.ttf); 
}

.header-awesome {
  font-size: 11px;
  color: #eaeaea;
}

.header-nav {
  display:table;
  width:100%;
  margin: 0;
}


.nav-link {
  font-family: 'BebasNeueBold';
  font-size: 18px;
  color: #ffffff;
  padding: 0px 0px 10px 0px;
  border-bottom: 3px solid transparent;   
}

.nav-item {
  margin: 0% 0% 0% 0%;
}

.nav-link:hover {
  color: #f1cdb3;
  border-bottom: 3px solid #f1cdb3;
}

.presentation {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #111111;
  background-size: cover;
}

.text-block {
  display: block;
}

.presentation h2 {
  font-family: 'BebasNeueBold';
  font-size: 82px;
  color: #ffffff;
  padding-top: 30%;
}

.presentation button {
  background-color: transparent;
  color: #8d7062;
  font-family: 'BebasNeueBold';
  font-size: 18px;
  border: 2px solid  #8d7062;
  padding: 1% 3%;
  margin: 8% 3% 46% 0%
}

.presentation button:hover{
  background-color: #8d7062;
  color: #000000;
}

.store {
  background-image: url(../images/bg-store.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-color: #111111;
  background-size: cover;
}

.store h2 {
  font-family: 'BebasNeueBold';
  font-size: 48px;
  color: #ffffff;
  margin-top: 42%;
}

.store p {
  font-family: 'PTSans';
  font-size: 24px;
  color: #858585;
  margin-top: 2%;
  margin-bottom: 40%;
}

.collections {
background: #000000;
}

.collections h2 {
  font-family: 'BebasNeueBold';
  font-size: 48px;
  color: #ffffff;
  padding-top: 30%;
}

.wrapper {
  padding-top: 6%;
  padding-bottom: 6%;
}

.collections span {
  position: relative;
  left: 40%;
  margin-right: 5%;
  top: 70%;
}

.collections span a {
  text-decoration: none;
  font-family: 'PTSans';
  font-size: 18px;
  color: #f5f5f5;
}

.collections span a:hover {
 background: linear-gradient(transparent 50%,#b6907e 50%);
}

.collections .slider {
  position: relative;
  padding: 0% 8%;
}

.collections .slider-item {
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  padding: 45px 60px 0px 60px;
  border: 4px solid #2b2b2b;
}

.collections .slider-item:hover {
  border: 4px solid #b6907e;
}

.collections .slider-item img {
  width: 100%;
  display: block;
}

.collections.slick-list {
  overflow: hidden;
}

.collections .slick-track {
  display: flex;
}

.collections .slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
}

.collections .slick-arrow.slick-prev {
  left: 0;
}

.collections .slick-arrow.slick-next {
  right: 0;
}

.collections .collections-brand {
  font-family: 'BebasNeueBold';
  font-size: 30px;
  color: #f5f5f5;
  padding-top: 15%;
  margin-bottom: 0;
}

.collections .collections-price {
  font-family: 'PTSans';
  font-size: 24px;
  color: #b6907e;
}

.brand {
  background-color: #0e0e0e;
}

.brand .row {
  padding: 6% 0%;
}

.img-rado {
  padding-top: 8%;
}

.img-swatch {
  padding-top: 8%;
}

.img-omega {
  padding-top: 0%;
}

.img-zenith {
  padding-top: 0%;
}

.img-rado:hover, .img-swatch:hover, .img-omega:hover, .img-zenith:hover   {
  -webkit-filter: brightness(300%); 
}

.reviews {
  background-color: #000000;
}

.reviews h2 {
  font-family: 'BebasNeueBold';
  font-size: 48px;
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}


.reviews .slider {
  position: relative;
  padding: 0% 8%;
  
}

.reviews .slider-item {
  cursor: pointer;
  text-align: center;
  width: 50%;
}

.reviews .slider-item img {
  
}

.reviews.slick-list {
  overflow: hidden;
}

.reviews .slick-track {
  display: flex;
}

.reviews .slick-arrow {
  position: absolute;
  top: 35%;
  z-index: 10;
  font-size: 0;
  cursor: pointer;
}

.reviews .slick-arrow.slick-prev {
  left: 0;
}

.reviews .slick-arrow.slick-next {
  right: 0;
}

.reviews .reviews-name {
  font-family: 'BebasNeueBold';
  font-size: 36px;
  color: #ffffff;
}

.reviews .reviews-text {
  font-family: 'PTSans';
  font-size: 18px;
  color: #3f3f3f;
}

